<div class ="navbar" id="main" style="border-style: solid; border-color: gray; border-width: 1px; width: 100%;">
  <span style="font-size: 40px; cursor:pointer; padding-left: 0px; float: left;" onclick="toggleNav()">
    
    <div class="container" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </span>
</div>

<div id="mySidenav" class="sidenav" style="background-color: rgb(243, 243, 243);">
  <p style="padding-left: 30px; font-size: 24px; font-weight: 700;">Menu</p>
  <a href="#" style="border-top: solid; border-right: none; border-color: gray; border-width: 1px;">Search</a>
  <a href="#">Browse</a>
  <a href="#">Pick a Random Word!</a>
  <a href="#">Bookmarks</a>
  <a href="#">Flashcards</a>
  <a href="#">About Us</a>
</div>

