<div class="overlay" id="intro" style="padding-top: 40px;">
    <div class="fluid-container" id="header">
        <h1 style="font-size: 50px;">Tŝilhqot'in</h1>
        <h2 style="font-size: 30px;">The People of the Chilcotin River</h2>
    </div>
    <p></p>
    <img src="\assets\Pictures\TNG-logo-Colour_copy.png" height="250px">

    <p>Welcome to the Tŝilhqotin FirstVoices App.</p>

    <p>Guzun nexwanaghinyah</p>
    <p>(It is good that you have come)</p>
    <div class="container">
        <img src="\assets\Pictures\fv-logo.png" height="50px">
    </div>
</div>